<ion-view view-title="Cycles">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<h2>
			<img src="img/cycle-icon-small.png" class="cycles-icon" />&nbsp;Discover Your Pain Cycle</h2>
		<div class="paragraph-list">When I feel this way, I typically cope by becoming (choose up to three):</div>
		<div class="padding">
			<form name="cyclesPainCopesForm" novalidate="" ng-submit="process('menu.tabs.cycles_pain_results',cyclesPainCopesForm)">
				<ul class="cyclesCopes list">
					<li ng-repeat="cope in copeList" class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" name="pain" value="TEACHING" ng-model="user.data.usness.copes[cope]" ng-change="checkCopes(user.data.usness.copes[cope])" ng-disabled="copeCount>=3 && !user.data.usness.copes[cope]">
						</label>{{cope}}</li>
				</ul>
				<div class="tip-text">
					<p>REFLECT A SEC:</p>
					<p>Where did you learn how to cope like this? Did someone model this behavior for you or did you have to employ this coping to survive? For instance, if you grew up in a house of anger, you might have withdrawn to cope. Again, typically this coping existed before you married.</p>
					<br>
				</div>
				<input type="submit" value="View Your Pain Cycle" class="button button-block button-positive" />
			</form>
		</div>
	</ion-content>
</ion-view>