<ion-view view-title="Cycles">
<ion-nav-title>
    <img src="img/logo.png" class="title-image" />
</ion-nav-title>
	<ion-content>
        <h2><img src="img/cycle-icon-small.png" class="cycles-icon" />&nbsp;Discover Your Peace Cycle</h2>
        <div class="paragraph-list">When I believe these truths, I can be (choose three):  </div>
        <div class="padding">
            <form name="cyclesPeaceResponseForm" novalidate="" ng-submit="process('menu.tabs.cycles_results',cyclesPeaceResponseForm)">
             <ul class="cyclesCopes list">
               <li ng-repeat="action in actionList" class="item item-checkbox">
					<label class="checkbox">
						<input type="checkbox" name="pain" value="TEACHING" ng-model="user.data.usness.actions[action]" ng-change="checkActions(user.data.usness.actions[action])" ng-disabled="actionCount>=3 && !user.data.usness.actions[action]">
					</label>
					{{action}}
				</li>
            </ul>
            <div class="tip-text">
                <h1><img src="img/icon-reflect-small.png" class="cycles-icon" />&nbsp;REFLECT A SEC:</h1>
                <p>Let’s say you chose the word Empathic. Think about a time when you were Empathetic in a painful situation with your spouse. How did you feel about yourself? </p>
                <br>
            </div>
            <input type="submit" value="View Your Peace Cycle" class="button button-block button-positive" />
            </form>
        </div>
	</ion-content>
</ion-view>