<ion-view view-title="Decisions">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<h2>
			<img src="img/decision-icon-small.png" class="cycles-icon" />&nbsp;REVISIT PAST DECISIONS</h2>
		<div class="decisions">
			<div class="padding">
				<p>There are times when decisions you make need to change or adjust. Just when you and your spouse have settled on a budget, the car needs repairs. Just when you figure out how to parent your 2-year-old, she turns 3.</p>
				<p>Take a look at your past decisions and make an Us choice on how you feel about them today.</p>
			</div>
			<div ng-repeat="(key,decision) in user.data.decisions" class="grey_bg">
				<div class="padding">
					<p><a ui-sref="menu.tabs.decisions_view({decision:$index})">{{decision.question}}</a></p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>