<ion-view view-title="US-ness">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content delegate-handle="home_pull">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="update()"></ion-refresher>
		<div class="padding">
			<h2>US-ness</h2>
			<div class="row">
				<div class="col">
					<a ui-sref="menu.tabs.usness">USNess</a>
				</div>
				<div class="col">
					<a ui-sref="menu.tabs.usness_activities">Activities</a>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a ui-sref="menu.tabs.usness_activities_further">Activities Further</a>
				</div>
				<div class="col">
					<a ui-sref="menu.tabs.usness_gifts">Gifts</a>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a ui-sref="menu.tabs.usness_gifts_results">Gifts Results</a>
				</div>
				<div class="col">
					<a ui-sref="menu.tabs.usness_personality">Personality</a>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a ui-sref="menu.tabs.usness_personality_results">Personality Results</a>
				</div>
			</div>
			<h2>Cycles</h2>
			<div class="row">
				<div class="col">
					<a ui-sref="menu.tabs.cycles">Cycles</a>
				</div>
				<div class="col">
					<a ui-sref="menu.tabs.cycles_pain_copes">Pain Copes</a>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a ui-sref="menu.tabs.cycles_pain_results">Pain Results</a>
				</div>
				<div class="col">
					<a ui-sref="menu.tabs.cycles_pain">Pain</a>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a ui-sref="menu.tabs.cycles_peace_response">Peace Response</a>
				</div>
				<div class="col">
					<a ui-sref="menu.tabs.cycles_peace">Peace</a>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a ui-sref="menu.tabs.cycles_results">Results</a>
				</div>
			</div>
			<h2>4 Steps</h2>
			<div class="row">
				<div class="col">
					<a ui-sref="menu.tabs.4steps">4 Steps</a>
				</div>
				<div class="col">
					<a ui-sref="menu.tabs.4steps_setup">Setup</a>
				</div>
			</div>
			
			<form name="simpleForm" novalidate="" ng-submit="signup(simpleForm)">
				<div class="list list-inset">
					<div class="item item-input" ng-class="{ 'has-errors' : simpleForm.first_name.$invalid && simpleForm.$submitted, 'no-errors' : simpleForm.first_name.$valid  && simpleForm.$submitted}">
						<input name="field_name" ng-model="data.field_name" type="text" placeholder="FIELD NAME" required />
					</div>
					<div class="form-errors" ng-show="simpleForm.field_name.$error && simpleForm.$submitted" ng-messages="simpleForm.field_name.$error" ng-messages-include="templates/errors.html"></div>
				</div>
				<input type="submit" value="Button Text" class="button button-block button-positive" />
			</form>
		</div>
	</ion-content>
</ion-view>