<ion-view view-title="US-ness">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<h2><img src="img/usness-icon-small.png" class="cycles-icon" />&nbsp;Welcome to MarriageStrong</h2>
		<div class="padding">
			<h1>Welcome</h1>
			<p>This is a paragraph introducing the app with <b>ridiculous</b> generated random filler text since Tony doesn't write well... that preparatory one dropped a this far petulant alas some reverent as when hence less one and droll blind diabolically across that forsook unkind woodchuck the porcupine hectically strode and diabolic and oversold hazy the the contrary flapped.</p>
			<a ui-sref="menu.tabs.profile" class="button button-block button-positive">Set Up Your Profile</a>
			<a ui-sref="menu.tabs.usness" class="button button-block button-calm">Discover Your US-Ness</a>
			<a ui-sref="menu.tabs.cycles" class="button button-block button-calm">Define your pain and peace cycle</a>
			<a ui-sref="menu.tabs.4steps" class="button button-block button-calm">Plan your 4 steps</a>
		</div>
	</ion-content>
</ion-view>