<ion-view view-title="Photo">
<ion-nav-title>
    <img src="img/logo.png" class="title-image" />
</ion-nav-title>
	<ion-content>
        <h2><i class="ion-gear-b" data-pack="default" data-tags="settings, options, cog"></i>&nbsp;Your Couple’s Photo</h2>
        <div class="padding">
            <img src="img/upload-photo.jpg" alt="Usness" width="100%">
			<button ng-click="getPic(1)" class="button button-block button-calm">Take New Photo</button>
			<button ng-click="getPic(0)" class="button button-block button-calm">Choose Photo from Library</button>
			<img ng-src="{{picData}}" width="100%">
		</div>
	</ion-content>
</ion-view>