<ion-view view-title="USness Quiz">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<h2>
			<img src="img/quiz-icon-small.png" class="cycles-icon" />&nbsp;Us-ness Quiz</h2>
		<div class="padding">
			<p>How's your Us-ness (you and your spouse) doing in the following categories?</p>
		</div>
		<form class="quizzesUnessForm" name="quizzesUnessForm" novalidate="" ng-submit="process('menu.tabs.quizzes_usness_results',quizzesUnessForm)">
			<div ng-repeat="question in usnessQuestions">
				<hr>
				<h3>{{question.name}}</h3>
				<label><input type="radio" name="user.data.quizzes.usness['{{question.name}}']" value="1" ng-model="user.data.quizzes.usness[question.name]">{{question.option1}}<br></label>
				<label><input type="radio" name="user.data.quizzes.usness['{{question.name}}']" value="2" ng-model="user.data.quizzes.usness[question.name]">{{question.option2}}<br></label>
				<label><input type="radio" name="user.data.quizzes.usness['{{question.name}}']" value="3" ng-model="user.data.quizzes.usness[question.name]">{{question.option3}}<br></label>
			</div>
			<hr>
			<div class="padding">
				<label>
					<input type="submit" value="Save and Continue" class="button button-block button-positive" />
				</label>
			</div>
		</form>
	</ion-content>
</ion-view>