<ion-view view-title="Boundaries Quiz">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<h2>
			<img src="img/quiz-icon-small.png" class="cycles-icon" />&nbsp;Boundaries Quiz</h2>
		<div class="padding">
			<p>Having clear boundaries in your relationships will help you guard against burnout, unrealistic expectations, feelings of inadequacy, and loneliness.  Clear boundaries take both fact and emotion into the decision-making process.</p>
			<p><b>How are you doing with boundaries in the following categories?</b></p>
		</div>
		<form class="quizzesBoundariesForm" name="quizzesBoundariesForm" novalidate="" ng-submit="process('menu.tabs.quizzes_boundaries_results',quizzesBoundariesForm)">
			<div ng-repeat="question in boundariesQuestions">
				<hr>
				<h3>{{question.name}}</h3>
				<label><input type="radio" name="user.data.quizzes.boundaries['{{question.name}}']" value="1" ng-model="user.data.quizzes.boundaries[question.name]">{{question.option1}}<br></label>
				<label><input type="radio" name="user.data.quizzes.boundaries['{{question.name}}']" value="2" ng-model="user.data.quizzes.boundaries[question.name]">{{question.option2}}<br></label>
				<label><input type="radio" name="user.data.quizzes.boundaries['{{question.name}}']" value="3" ng-model="user.data.quizzes.boundaries[question.name]">{{question.option3}}<br></label>
			</div>
			<hr>
			<div class="padding">
				<label>
					<input type="submit" value="Save and Continue" class="button button-block button-positive" />
				</label>
			</div>
		</form>
	</ion-content>
</ion-view>