<ion-view view-title="Usness">
<ion-nav-title>
    <img src="img/logo.png" class="title-image" />
</ion-nav-title>
	<ion-content>
        <h2>(RING ICON)&nbsp;Spiritual Gifts</h2>   
		<div class="padding">
            <p>For couples interested in their spiritual Us-ness, you can take a spiritual gift inventory online; there are a lot available from different theological perspectives. If you are more familiar with spiritual gifts, choose your top three from the list below:</p>
        </div>
            <form class="usnessGiftsForm" name="usnessGiftsForm" novalidate="" ng-submit="usnessGifts(usnessGiftsForm)">
                <div class="padding">
                    <ul class="list">
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="TEACHING">
                            </label>
                            <strong>TEACHING</strong><br>
                            Communicates Information Well
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="WISDOM">
                            </label>
                            <strong>WISDOM</strong><br>
                            Deep Insight Into Application Of Knowledge
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="KNOWLEDGE">
                            </label>
                            <strong>KNOWLEDGE</strong><br>
                            Loves Information
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="EXHORTATION">
                            </label>
                            <strong>EXHORTATION</strong><br>
                            Comforting And Encouraging
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="DISCERNMENT">
                            </label>
                            <strong>DISCERNMENT</strong><br>
                            Easily Sees Truth
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="GIVING">
                            </label>
                            <strong>GIVING</strong><br>
                            Joyfully Contributes Time And Money
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="MERCY">
                            </label>
                            <strong>MERCY</strong><br>
                            Great Compassion
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="EVANGELISM">
                            </label>
                            <strong>EVANGELISM</strong><br>
                            Telling Others About Christ
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="HOSPITALITY">
                            </label>
                            <strong>HOSPITALITY</strong><br>
                            Provides A Warm Welcome
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="FAITH">
                            </label>
                            <strong>FAITH</strong><br>
                            Extraordinary Confidence In God
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="LEADERSHIP">
                            </label>
                            <strong>LEADERSHIP</strong><br>
                            Sets And Achieves Goals For Groups With Ease 
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="ADMINISTRATION">
                            </label>
                            <strong>ADMINISTRATION</strong><br>
                            Creates And Executes Effective Plans
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="HEALING">
                            </label>
                            <strong>HEALING</strong><br>
                            Restores Health
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="TONGUES">
                            </label>
                            <strong>TONGUES</strong><br>
                            Speaking In Another Language
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="INTERCESSION">
                            </label>
                            <strong>INTERCESSION</strong><br>
                            Loves To Pray
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="gift" value="SERVICE">
                            </label>
                            <strong>SERVICE</strong><br>
                            Identifies Need And Completes Tasks
                        </li>
                    </ul>
                </div>
                <div class="grey_bg">
                    <div class="padding">
                     <p>All the above gifts are found in I Corinthians 12, Romans 12 and Ephesians 4. Other spiritual gifts tests include gifts not listed above. Feel free to add to the list:</p>
                        <div class="list list-inset">
                          <label class="item item-input">
                            1 &nbsp;
						  <input name="gift" type="text" />				
                          </label>
                        </div>
                         <div class="list list-inset">
                          <label class="item item-input">
                            2 &nbsp;
						  <input name="gift" type="text" />				
                          </label>
                        </div>
                         <div class="list list-inset">
                          <label class="item item-input">
                            3 &nbsp;
						  <input name="gift" type="text" />				
                          </label>
                        </div>
                    <input type="submit" value="Save and Continue" class="button button-block button-positive" />
                    <button href="#" class="button button-block button-calm">Compare with Spouse</button>

                    </div>
                </div>
            </form>
	</ion-content>
</ion-view>