<ion-view view-title="Usness">
<ion-nav-title>
    <img src="img/logo.png" class="title-image" />
</ion-nav-title>
	<ion-content>
        <h2><img src="img/usness-icon-small.png" class="cycles-icon" />&nbsp;Usness Activities</h2>   
		<div class="padding">
            <p>Every couple is unique. Every Us-ness has it’s own activities that connect and strengthen them. Choose from the following list all activities that make your Us-ness strong. Remember Us will do things differently than one of you would do it by yourself.</p>
        </div>
            <form class="usnessActivitiesForm" name="usnessActivitiesForm" novalidate="" ng-submit="usnessActivities(usnessActivitiesForm)">
                <div class="padding">
                    <ul class="list">
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            COOKING 
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            EATING AT RESTAURANTS
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            SOCIALIZING WITH OTHERS
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            HAVING MEANINGFUL CONVERSATION
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                           LAUGHING/JOKING
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            RESTING/RELAXING
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            PLAYING SPORTS/GAMES
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            WATCHING SPORTING EVENTS
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            EXERCISING
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            EXPLORING NEW PLACES/THINGS
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            BEING OUTDOORS
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            CREATING/APPRECIATING ART
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            ENJOYING MUSIC/FILM
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            DREAMING
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            ENJOYING SEX
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            TRAVELING
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            PARENTING
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            CARING FOR/ENJOYING A PET
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            GETTING TASKS DONE
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            WORKING ON YOUR HOME
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            PRAYING
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            HOSTING GATHERINGS
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            HELPING/SERVING OTHERS
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            LEADING/TEACHING OTHERS
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                            <input type="checkbox" name="activity">
                            </label>
                            PARTICIPATING IN FAITH COMMUNITY
                        </li>
                    </ul>
                </div>
                <div class="grey_bg">
                    <div class="padding">
                     <p>OR WRITE YOUR OWN:</p>
                        <div class="list list-inset">
                          <label class="item item-input">
                            1 &nbsp;
						  <input name="activity" type="text" required />				
                          </label>
                        </div>
                         <div class="list list-inset">
                          <label class="item item-input">
                            2 &nbsp;
						  <input name="activity" type="text" required />				
                          </label>
                        </div>
                         <div class="list list-inset">
                          <label class="item item-input">
                            3 &nbsp;
						  <input name="activity" type="text" required />				
                          </label>
                        </div>
                    <input type="submit" value="Save and Continue" class="button button-block button-positive" />
                    </div>
                </div>
            </form>
	</ion-content>
</ion-view>