<ion-view view-title="Usness">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<h2>
			<img src="img/usness-icon-small.png" class="cycles-icon" />&nbsp;Spiritual Gifts</h2>
		<div class="padding">
			<p>For those interested in their spiritual Us-ness, choose your top three spiritual gifts from the list below. You can take a spiritual gifts test online if needed; there are a lot available from difference theological perspectives.</p>
		</div>
		<form class="usnessGiftsForm" name="usnessGiftsForm" novalidate="" ng-submit="process('menu.tabs.usness_gifts_results',usnessGiftsForm)">
			<div class="padding">
				<ul class="list">
					<li ng-repeat="gift in giftList" class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" name="gift" value="TEACHING" ng-model="user.data.usness.gifts[gift.name]" ng-change="checkGifts(user.data.usness.gifts[gift.name])" ng-disabled="giftCount>=3 && !user.data.usness.gifts[gift.name]">
						</label>
						<strong>{{gift.name}}</strong>
						<br>{{gift.desc}}</li>
				</ul>
			</div>
			<div class="grey_bg">
				<div class="padding">
					<p>All the above gifts are found in I Corinthians 12, Romans 12 and Ephesians 4. Other spiritual gifts tests include gifts not listed above. If you didn't find 3 gifts above, add to the list:</p>
					<div class="list list-inset">
						<label class="item item-input">1 &nbsp;
							<input name="gift" type="text" ng-model="user.data.usness.gifts_other.other1" ng-change="checkGiftOther(user.data.usness.gifts_other.other1,'other1')" ng-disabled="giftCount>=3 && !user.data.usness.gifts_other.other1" />
						</label>
					</div>
					<div class="list list-inset">
						<label class="item item-input">2 &nbsp;
							<input name="gift" type="text" ng-model="user.data.usness.gifts_other.other2" ng-change="checkGiftOther(user.data.usness.gifts_other.other2,'other2')" ng-disabled="giftCount>=3 && !user.data.usness.gifts_other.other2" />
						</label>
					</div>
					<div class="list list-inset">
						<label class="item item-input">3 &nbsp;
							<input name="gift" type="text" ng-model="user.data.usness.gifts_other.other3" ng-change="checkGiftOther(user.data.usness.gifts_other.other3,'other3')" ng-disabled="giftCount>=3 && !user.data.usness.gifts_other.other3" />
						</label>
					</div>
					<input type="submit" value="Save and Continue" class="button button-block button-positive" />
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>