@font-face {
	font-family: 'Threeleaf';
	src: url('../fonts/ThreeLeafApp.ttf') format('truetype');
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
	font-family: 'HelveticaNeueOblique';
	src: url('../fonts/HelveticaNeueOblique.ttf') format('truetype');
}